<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
        body{
            background-color: cadetblue ;
        }
        .container{
        background-color:cornflowerblue;
        margin: auto;
        margin-top: 40px;
        width: 50%;
        border: 3px solid black;
        padding: 20px;
        text-align: center;
        }
    </style>
</head>
<body>
        <div class="container">        
            <h1>SIGN UP PAGE</h1>
            <div class="imgcontainer">
        </div><br><br>
          <form action="/api/register" method="post">  
          <label for="email"><b>Enter Your Email</b></label>
          <input type="text" name="email" id="em" required><br><br>
          <label for="psw"><b>Create Password</b></label>
          <input type="password" name="password" id="pass" required><br><br>
          <button type="submit">Register</button>
        </form>
        </div>   
</body>
</html>